{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CondFácil</title>
    <link rel="stylesheet" href="{% static 'stylesheets/styles.css' %}">
</head>
<body>
    <!--{% include "header.html" %}-->
    <div class="header-login"></div>
    <div class="frontpage">
        <div class="logo">
            <h1>CondFácil</h1>
            <p>Sua casa na palma da mão</p>
        </div>
        <div class="login-container">
            <h1>Seja bem-vindo(a) ao nosso site!</h1>
            <a href="{% url 'login' %}" class="login-button">Fazer login</a>
            <a href="#" class="cadastro-button secondary-button">Cadastre-se</a>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>
