{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="#">Home</a>
        <a href="#">Solicitações</a>
        <a href="#">Assembléia</a>
        {% if is_sindico %}
            <a href="#">Caixa</a>
            <a href="#">Imóveis</a> <!--estas duas são admin mas essa classe não foi implementada ainda (?)-->
            <a href="#">Administração</a>
        {% endif %}
        <a href="#">Contato</a>
    </div>
</body>
</html>
