
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* import another CSS files from folder*/
@import "footer-styles.css";
@import "login-styles.css";

/* imported from https://color.adobe.com/trends/Ui/ux */
:root {
    /* Color Theme Swatches in Hex */
    --SEF-white: #F0F0F2;
    --SEF-darkblue: #6F7BBF;
    --SEF-lightblue: #79A3D9;
    --SEF-dark: #0D0C0B;
    --SEF-orange: #F29F80;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--SEF-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* Estilos para o título */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para os botões */
a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--SEF-darkblue);
    color: var(--SEF-white);
    padding: 10px 20px;
    border: 1px solid var(--SEF-darkblue);
    border-radius: 3px;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: white;
    color: var(--SEF-darkblue);
}

.secondary-button {
    margin-top: 20px;
    background-color: var(--SEF-white);
    color: #555;
    border-color: #ccc;
}

.secondary-button:hover {
    background-color: white;
    border-color: var(--SEF-darkblue);
}